<?xml version="1.0"?>
<!-- script_version=1.1 -->
<robot name="sensor_rplidar" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find machine)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find machine)/urdf/turtlebot_properties.urdf.xacro"/>
  <xacro:include filename="$(find machine)/urdf/common_properties.urdf.xacro"/>
  
  <!-- RPLidar 2D LIDAR -->
  <xacro:macro name="sensor_rplidar" params="parent">
    <link name="laser">
      <visual>
        <geometry>
          <cylinder length="0.045" radius="0.045" />
        </geometry>
        <material name="white" />
      </visual>
      <inertial>
        <mass value="0.000001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
          iyy="0.0001" iyz="0.0" izz="0.0001" />
      </inertial>
    </link>
    <joint name="base_laser_link" type="fixed">
      <origin xyz="0.07 0.0 0.21" rpy="0.0 0.0 0.0" />
      <parent link="${parent}" />
      <child link="laser" />
    </joint>

    <!-- Set up laser gazebo details -->
    <link name="global_scan"/>
    <joint name="base_link_to_global_scan" type="fixed">
      <!--<origin xyz="0.0 0.0 0.2" rpy="0 0.0 0.0" />-->
      <origin xyz="0.12 0.0 0.56" rpy="0 0.0 0.0" />
      <!--<parent link="base_link" />-->
      <parent link="${parent}" />
      <child link="global_scan" />
    </joint>


    <rplidar_laser />
  </xacro:macro>
</robot>
