<launch>
  <!-- Turtlebot -->
  <arg name="base"              default="kobuki" />
  
  <arg name="battery"           default="$(env TURTLEBOT_BATTERY)"      doc="kernel provided locatio for battery info, use /proc/acpi/battery/BAT0 in 2.6 or earlier kernels." />
  
  <arg name="stacks"            default="hexagons" />
  
  <arg name="3d_sensor"         default="asux_xtion_pro" />

  <arg name="serialport"        default="$(env TURTLEBOT_SERIAL_PORT)"  doc="used by create to configure the port it is connected on [/dev/ttyUSB0, /dev/ttyS0]"/>
  
  <arg name="robot_name"        default="$(env TURTLEBOT_NAME)"         doc="used as a unique identifier and occasionally to preconfigure root namespaces, gateway/zeroconf ids etc."/>
  
  <arg name="robot_type"        default="$(env TURTLEBOT_TYPE)"         doc="just in case you are considering a 'variant' and want to make use of this."/>


  <!--urdf-->
  <include file="$(find machine)/launch/includes/robot.launch.xml" />
  
  <!--mobile_base driver-->
  <include file="$(find machine)/launch/includes/mobile_base.launch.xml">
    <arg name="base" value="$(arg base)" />
    <arg name="serialport" value="$(arg serialport)" />
  </include>

  <!--sensor-->
  <include file="$(find machine)/launch/asus_sense.launch">
    <arg name="camera"                          value="camera"/>
    <arg name="publish_tf"                      value="false"/>

    <arg name="depth_registration"              value="false"/>

    <arg name="rgb_processing"                  value="true"/>
    <arg name="ir_processing"                   value="false"/>
    <arg name="depth_processing"                value="true"/>

    <arg name="depth_registered_processing"     value="false"/>
    <arg name="disparity_processing"            value="true"/>
    <arg name="disparity_registered_processing" value="true"/>
    <arg name="num_worker_threads"              value="4"/>

  </include>
  
</launch>

